@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
/* font-family: 'Fraunces', serif; */

* {
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
} 

body {
    background-color: #F3EAE3;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 80px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.4);
}

/* .container-imagem {
    
} */

.produto-imagem {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.container-texto {
    margin: 20px;
}

.produto-titulo {
    font-family: 'Fraunces', serif;
    line-height: 30px;
    padding: 15px 0px 15px 0px;
}

p {
    font-size: 14px;
    color: #8C8D92;
}

.produto-tipo {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.produto-descricao {
    line-height: 23px;
}

.valor {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.produto-valor {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    color: #3D8168;
}

.produto-valor-antigo {
    text-decoration: line-through;
    margin-left: 25px;
}

.botao {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.btn {
    background-color: #3D8168;
    color: white;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
}

@media (min-width: 600px) {
    
    .container-texto {
        width: 50%;
    }

    .container {
        display: flex;
        height: 400px;
        width: 500px;
    }

    .produto-imagem {
        visibility: hidden;
    }

    .container-imagem {

        background: url(images/image-product-desktop.jpg);
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
        border-radius: 10px 0px 0 10px;



    }
}